<a href="/nutzerkonto-login?redirect={{{ redirect }}}">Daten von Nutzerkonto übernehmen</a>
<form action="/TODO" method="POST">
	Name: <input type="text" name="name" placeholder="Helge Braun" value="{{ name }}"><br>
	<input type="submit" value="Submit">
</form>